.input-container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.header h2 {
  margin: 0;
  font-size: 1.5em;
  color: #026698; /* Bleu similaire à l'image */
  font-weight: bold;
}

.header p {
  margin: 10px 0 20px;
  font-size: 1em;
  color: #000000;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.2em;
  resize: none;
  height: 50px; /* Hauteur ajustée pour un look similaire */
}

.text-input::placeholder {
  color: #aaa;
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #00aaff;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

.submit-button:hover {
  background-color: #0088cc;
}